@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@media all and (max-width:600px){
	.navbar{
		position: fixed;
		background: rgba(255, 255, 255, 0.2);
		left: 0px;
		width: auto;
		min-width: 5vw;
		height: 100%;
		overflow-y: scroll;
		z-index: 100;
		transition-duration: 0.7s;
		transition-property: all;
		border-right: calc(10px + 3vw) solid rgba(255, 255, 255, 0.3);
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		margin-right: 5vw;
	}
	.btn-list{
		width: auto;
		display:none;
		padding: 5%;

	}
}

@media all and (min-width:601px){
	.navbar{
		position: fixed;
		background: rgba(255, 255, 255, 0.2);
		left: 0px;
		width: auto;
		height: 100%;
		z-index: 100;
		transition-duration: 0.7s;
		transition-property: all;
		border-right: calc(10px + 3vw) solid rgba(255, 255, 255, 0.3);
		overflow-y: scroll;
		margin-right: 5vw;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar::-webkit-scrollbar {
		background: transparent;
	}
	.navbar::-webkit-scrollbar-thumb {
		background:transparent;
	}

	.btn-list{
		width: auto;
		display:none;
		padding: 5%;
	}

	.navbar:hover{
		padding-left: 10px;
		padding-right: 10px;
		max-width: calc(35% + 20px);
	}

	
} 

@media (min-width: 800px) {
    .navbar {
        max-width: 300px;
    }
}

body {
	background-color: #38b3e3;
	color: white;
	font: "Roboto";
	overflow-y: scroll;
	overflow-x:hidden;
	font-style: "Roboto";
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	font-size: 50%;
	text-size-adjust: 500%;
	text-align:center;
	font-weight: 1000;
	font-style:italic;
	color: #ffffff;
}


.footer {
	bottom: 0!important;
	width: 100%!important;
	background-color: #71D0EE;
	height: auto;
	margin-top: auto;
	float:  block-end ;
}
.image-box{
	width:auto;
	height: auto;
	max-width: 100%;
	text-align: center;
	padding: 5%;
	margin-top: auto;
}

.mimg{
	width:auto;
	height: auto;
	max-width: 100px;
	max-height: 100px;
}


.menu-btn{
	width: 85%;
	height: auto;
	background-color: white;
	margin: 5%;
	padding: 5%;
	border-radius: 15px;
	border-width: 0px;
	box-shadow: 0px 5px 10px 0px rgb(172, 186, 189);
}


.exit-btn{
	background-color: #71D0EE; 
	margin-top: 12vh;
	box-shadow: 0px -2.5px 15px 5px rgba(255, 255, 255, 0.3);

}

.lg-container{
	width: auto;
	height: 4em;
	text-align: center;
}

.up-nawbar{
	padding-top: 5vh;
	text-align: end;
	font-size: large;
	margin-bottom: 5vh;
}

.content{
	padding-left: 10%;
	padding-right: 5%;
}